# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
backend/staticfiles/
backend/media/
**/migrations/*.pyc

# Frontend (Node.js + Vite)
frontend/node_modules/
frontend/dist/
*.log
*.DS_Store

# General
.env